html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(china-1\ \(1\).jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    font-size: 3rem;
    color: #FFFFFF;
    text-shadow: 0.1px 0.1px #000000;
    text-transform: uppercase;   
}
p {
    color: #FFFFFF;
}
.buffer {
    height: 5rem;
}
hr {
    margin: 20px auto;
    border: 3px solid#ffc107;
    width: 6rem;
    opacity: 1;
}

.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
    transform: scale(2);
    transition: all 0.5s;
}
.card {
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    padding: 5rem;
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}
li {
    color: #FFFFFF;
    font-size: 0.9rem;
    padding: 0 3.4rem;
    margin-right: 1.3rem;
}
